<h1> {{model.title}} </h1>
<h2> {{model.description}} </h2>

<h3> Edit My Project </h3>
<label>
    Edit title:
    {{input type="text" placeholder="Edit title!" value=title aria-label="add title"}}
</label>
<label>
    Edit description:
    {{input type="text" placeholder="Edit description!" value=description aria-label="edit description"}}
</label>
<button class="btn btn-small" onclick={{action "editProject" title description}}> Edit project! </button>

<div class="row">
    <div class="col-xs-12">
        {{tags-widget
            addATag=(action 'addATag' model)
            removeATag=(action 'removeATag' model)
            tags=model.tags
        }}
    </div>
</div>

<div class="row m-v-sm p-v-sm">
    <div class="col-xs-12">
        {{dropzone-widget
            options=dropzoneOptions
            sending=(action 'sending')
            buildUrl=(action 'buildUrl')
            complete=(action 'complete')
            preUpload=(action 'preUpload')
            maxfilesexceeded=(action 'maxfilesexceeded')
        }}
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        {{file-browser rootItem=model
            openFile=(action 'fileDetail')
        }}
    </div>
    <div class="col-xs-8">
        {{#file-renderer download=downloadUrl
            width="800" height="1000"}}
        {{/file-renderer}}
    </div>
</div>
