<h1> My Projects </h1>

<h2> Create a project!</h2>
<label>
    Title:
    {{input type="text" value=title placeholder="Enter title"}}
</label>
<label>
    Description:
    {{input type="text" value=description placeholder="Enter description"}}
</label>
<button class="btn btn-success" onclick={{action "createProject" title description}}> Add project!</button>

{{#each newProjects as |project|}}
    {{#link-to 'detail' project.id}}
        <h2> {{project.title}} </h2>
    {{/link-to}}
    {{#if project.description}}
        <h3>{{project.description}}</h3>
    {{/if}}
{{/each}}

{{#each model as |project|}}
    {{#link-to 'detail' project.id}}
        <h2> {{project.title}} </h2>
    {{/link-to}}
    {{#if project.description}}
        <h3>{{project.description}}</h3>
    {{/if}}
{{/each}}

